# Terraform
**/.terraform/*
*.tfstate
*.tfstate.*
*.tfvars
*.tfvars.json
crash.log
crash.*.log
.terraform.lock.hcl

# Ansible
*.retry
.vault_pass
ansible.cfg.local
inventory.ini

# macOS / VSCode
.DS_Store
.vscode/
